<a href="https://colab.research.google.com/github/alyonavyshnevska/Advent-of-Code/blob/master/data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
trial_vars_1 = pd.read_csv('1_1_TrialVars.csv', sep='\t')

In [17]:
trial_vars_1.head(-10)

     trialId  seqId  grid   dur  ...       locP2       locP3       locP4       locP5
0          1     80  0.35   500  ...  (576, 563)  (576, 461)  (704, 666)  (832, 563)
1          2     42  0.40   250  ...  (768, 410)  (768, 478)  (512, 614)  (683, 546)
2          3     55  0.35  1500  ...  (448, 358)  (448, 461)  (704, 461)  (832, 461)
3          4     66  0.35  1000  ...  (704, 666)  (832, 461)  (576, 358)  (832, 666)
4          5     81  0.35   500  ...  (832, 563)  (448, 461)  (576, 461)  (704, 563)
..       ...    ...   ...   ...  ...         ...         ...         ...         ...
129      130     87  0.35   250  ...  (448, 461)  (704, 461)  (832, 666)  (832, 461)
130      131    121  0.25   500  ...  (747, 597)  (320, 768)  (533, 597)  (320, 427)
131      132     58  0.35  1500  ...  (448, 461)  (576, 461)  (448, 666)  (704, 358)
132      133    105  0.25  1500  ...  (960, 597)  (533, 427)  (747, 597)  (320, 597)
133      134     45  0.40   250  ...  (512, 546)  (512, 614)  (597, 478)  (768, 478)

[134 rows x 9 columns]

In [11]:
trial_vars_1.shape

(144, 9)

Qs:
- What exctly do the vars mean:   
seqID?   
grid   
dur   
loc..

In [0]:
data1 = pd.read_csv('1_1.csv', sep='\t')

In [13]:
data1.head()

   trialId  pointId       time  ...  x_right  y_right  pupil_right
0        1        1  4199017.0  ...    624.0    508.2        750.0
1        1        1  4199017.0  ...    625.0    508.0        749.0
2        1        1  4199018.0  ...    624.8    507.9        747.0
3        1        1  4199018.0  ...    624.6    507.8        744.0
4        1        1  4199019.0  ...    624.1    507.9        744.0

[5 rows x 9 columns]

In [14]:
data1.shape

(1143886, 9)

Again, what exactly do vars mean?